services:
  jaeger:
    image: jaegertracing/all-in-one:1.57
    container_name: tripplanner-jaeger
    environment:
      COLLECTOR_OTLP_ENABLED: "true"
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"
